// SPDX-License-Identifier: ISC
/*
 * Copyright (c) 2018-2020, The Linux Foundation. All rights reserved.
 */
/dts-v1/;

#include "ipq5018.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ5018/AP-MP03-C2";
	compatible = "qcom,ipq5018-ap-mp03.1-c2", "qcom,ipq5018-mp03.1", "qcom,ipq5018";

	aliases {
		serial0 = &blsp1_uart1;
		ethernet0 = "/soc/dp1";
		ethernet1 = "/soc/dp2";
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs-append = " swiotlb=1 clk_ignore_unused";
	};

	reserved-memory {
	#ifdef __IPQ_MEM_PROFILE_256_MB__
	/*            256 MB Profile
	 * +=========+==============+========================+
	 * |        |              |                         |
	 * | Region | Start Offset |          Size           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |        |              |                         |
	 * |  NSS   |  0x40000000  |          8MB            |
	 * |        |              |                         |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * | Linux  |  0x40800000  | Depends on total memory |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * +        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * | uboot  |  0x4A600000  |           4MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |  SBL   |  0x4AA00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |  smem  |  0x4AB00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |   TZ   |  0x4AC00000  |           4MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |   Q6   |  0x4B000000  |          16MB           |
	 * |  code/ |              |                         |
	 * |  data  |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |IPQ5018 |  0x4C000000  |          13MB           |
	 * |  data  |              |                         |
	 * +--------+--------------+-------------------------+
	 * | M3 Dump|  0x4CD00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |  QDSS  |  0x4CE00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |QCN9100 |  0x4CF00000  |          15MB           |
	 * |  data  |              |                         |
	 * +--------+--------------+-------------------------+
	 * | M3 Dump|  0x4DE00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |  QDSS  |  0x4DF00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |QCN9000 |  0x4E000000  |          17MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |  MHI1  |  0x4F100000  |          16MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |                                                 |
	 * |      Rest of the memory for Linux               |
	 * |                                                 |
	 * +=================================================+
	 */

		q6_mem_regions: q6_mem_regions@4B000000 {
			no-map;
			reg = <0x0 0x4B000000 0x0 0x3000000>;
		};

		q6_code_data: q6_code_data@4B000000 {
			no-map;
			reg = <0x0 0x4B000000 0x0 01000000>;
		};

		q6_ipq5018_data: q6_ipq5018_data@4c000000 {
			no-map;
			reg = <0x0 0x4c000000 0x0 0xD00000>;
		};

		m3_dump: m3_dump@4CD00000 {
			no-map;
			reg = <0x0 0x4CD00000 0x0 0x100000>;
		};

		q6_etr_region:q6_etr_dump@4CE00000 {
			no-map;
			reg = <0x0 0x4CE00000 0x0 0x100000>;
		};

		q6_qcn9100_data1: q6_qcn9100_data1@4CF00000 {
			no-map;
			reg = <0x0 0x4CF00000 0x0 0xF00000>;
		};

		m3_dump_qcn9100_1: m3_dump_qcn9100_1@4DE00000 {
			no-map;
			reg = <0x0 0x4DE00000 0x0 0x100000>;
		};

		q6_qcn9100_etr_1: q6_qcn9100_etr_1@4DF00000 {
			no-map;
			reg = <0x0 0x4DF00000 0x0 0x100000>;
		};

		q6_qcn9000_region: qcn9000_pcie0@4E000000 {
			no-map;
			reg = <0x0 0x4E000000 0x0 0x01100000>;
		};

		mhi_region1: dma_pool1@4F100000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x4F100000 0x0 0x01000000>;
		};
	#elif __IPQ_MEM_PROFILE_512_MB__
	/*                      512 MB Profile
	 * +=========+==============+========================+
	 * |        |              |                         |
	 * | Region | Start Offset |          Size           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |        |              |                         |
	 * |  NSS   |  0x40000000  |          16MB           |
	 * |        |              |                         |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * | Linux  |  0x41000000  | Depends on total memory |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * | uboot  |  0x4A600000  |           4MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |  SBL   |  0x4AA00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |  smem  |  0x4AB00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |   TZ   |  0x4AC00000  |           4MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |        |              |                         |
	 * |   Q6   |  0x4B000000  |          16MB           |
	 * |  code/ |              |                         |
	 * |  data  |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |IPQ5018 |  0x4C000000  |          14MB           |
	 * |  data  |              |                         |
	 * +--------+--------------+-------------------------+
	 * | M3 Dump|  0x4CE00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |  QDSS  |  0x4CF00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * | caldb  |  0x4D000000  |           2MB           |
	 * +--------+--------------+-------------------------+
	 * |QCN9100 |  0x4D200000  |          16MB           |
	 * |  data  |              |                         |
	 * +--------+--------------+-------------------------+
	 * | M3 Dump|  0x4E200000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |  QDSS  |  0x4E300000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * | caldb  |  0x4E400000  |           5MB           |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |QCN9000 |  0x4E900000  |          30MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |  MHI1  |  0x50700000  |          16MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |                                                 |
	 * |      Rest of the memory for Linux               |
	 * |                                                 |
	 * +=================================================+
	 */

		q6_mem_regions: q6_mem_regions@4B000000 {
			no-map;
			reg = <0x0 0x4B000000 0x0 0x3900000>;
		};

		q6_code_data: q6_code_data@4B000000 {
			no-map;
			reg = <0x0 0x4B000000 0x0 01000000>;
		};

		q6_ipq5018_data: q6_ipq5018_data@4C000000 {
			no-map;
			reg = <0x0 0x4C000000 0x0 0xE00000>;
		};

		m3_dump: m3_dump@4CE00000 {
			no-map;
			reg = <0x0 0x4CE00000 0x0 0x100000>;
		};

		q6_etr_region: q6_etr_dump@4CF00000 {
			no-map;
			reg = <0x0 0x4CF00000 0x0 0x100000>;
		};

		q6_caldb_region: q6_caldb_region@4D000000 {
			no-map;
			reg = <0x0 0x4D000000 0x0 0x200000>;
		};

		q6_qcn9100_data1: q6_qcn9100_data1@4D200000 {
			no-map;
			reg = <0x0 0x4D200000 0x0 0x1000000>;
		};

		m3_dump_qcn9100_1: m3_dump_qcn9100_1@4E200000 {
			no-map;
			reg = <0x0 0x4E200000 0x0 0x100000>;
		};

		q6_qcn9100_etr_1: q6_qcn9100_etr_1@4E300000 {
			no-map;
			reg = <0x0 0x4E300000 0x0 0x100000>;
		};

		q6_qcn9100_caldb_1: q6_qcn9100_caldb_1@4E400000 {
			no-map;
			reg = <0x0 0x4E400000 0x0 0x500000>;
		};

		q6_qcn9000_region: qcn9000_pcie0@4E900000 {
			no-map;
			reg = <0x0 0x4E900000 0x0 0x01E00000>;
		};

		mhi_region1: dma_pool1@50700000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x50700000 0x0 0x01000000>;
		};
	#else
	/*                      1G Profile
	 * +=========+==============+========================+
	 * |        |              |                         |
	 * | Region | Start Offset |          Size           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |        |              |                         |
	 * |  NSS   |  0x40000000  |          16MB           |
	 * |        |              |                         |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * | Linux  |  0x41000000  | Depends on total memory |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * | uboot  |  0x4A600000  |           4MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |  SBL   |  0x4AA00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |  smem  |  0x4AB00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |   TZ   |  0x4AC00000  |           4MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |        |              |                         |
	 * |   Q6   |  0x4B000000  |          16MB           |
	 * |  code/ |              |                         |
	 * |  data  |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |IPQ5018 |  0x4C000000  |          14MB           |
	 * |  data  |              |                         |
	 * +--------+--------------+-------------------------+
	 * | M3 Dump|  0x4CE00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |  QDSS  |  0x4CF00000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * | caldb  |  0x4D000000  |           2MB           |
	 * +--------+--------------+-------------------------+
	 * |QCN9100 |  0x4D200000  |          16MB           |
	 * |  data  |              |                         |
	 * +--------+--------------+-------------------------+
	 * | M3 Dump|  0x4E200000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * |  QDSS  |  0x4E300000  |           1MB           |
	 * +--------+--------------+-------------------------+
	 * | caldb  |  0x4E400000  |           5MB           |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |QCN9000 |  0x4E900000  |          45MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |        |              |                         |
	 * |  MHI1  |  0x51600000  |          24MB           |
	 * |        |              |                         |
	 * +--------+--------------+-------------------------+
	 * |                                                 |
	 * |      Rest of the memory for Linux               |
	 * |                                                 |
	 * +=================================================+
	 */

		q6_mem_regions: q6_mem_regions@4B000000 {
			no-map;
			reg = <0x0 0x4B000000 0x0 0x3900000>;
		};

		q6_code_data: q6_code_data@4B000000 {
			no-map;
			reg = <0x0 0x4B000000 0x0 01000000>;
		};

		q6_ipq5018_data: q6_ipq5018_data@4C000000 {
			no-map;
			reg = <0x0 0x4C000000 0x0 0xE00000>;
		};

		m3_dump: m3_dump@4CE00000 {
			no-map;
			reg = <0x0 0x4CE00000 0x0 0x100000>;
		};

		q6_etr_region: q6_etr_dump@4CF00000 {
			no-map;
			reg = <0x0 0x4CF00000 0x0 0x100000>;
		};

		q6_caldb_region: q6_caldb_region@4D000000 {
			no-map;
			reg = <0x0 0x4D000000 0x0 0x200000>;
		};

		q6_qcn9100_data1: q6_qcn9100_data1@4D200000 {
			no-map;
			reg = <0x0 0x4D200000 0x0 0x1000000>;
		};

		m3_dump_qcn9100_1: m3_dump_qcn9100_1@4E200000 {
			no-map;
			reg = <0x0 0x4E200000 0x0 0x100000>;
		};

		q6_qcn9100_etr_1: q6_qcn9100_etr_1@4E300000 {
			no-map;
			reg = <0x0 0x4E300000 0x0 0x100000>;
		};

		q6_qcn9100_caldb_1: q6_qcn9100_caldb_1@4E400000 {
			no-map;
			reg = <0x0 0x4E400000 0x0 0x500000>;
		};

		q6_qcn9000_region: qcn9000_pcie0@4E900000 {
			no-map;
			reg = <0x0 0x4E900000 0x0 0x02D00000>;
		};

		mhi_region1: dma_pool1@51600000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x51600000 0x0 0x01800000>;
		};
	#endif
	};
	soc {
		wifi0: wifi@c000000 {
			status = "ok";
		};

		mdio0: mdio@88000 {
			status = "ok";

			ethernet-phy@0 {
				reg = <7>;
			};
		};

		mdio1: mdio@90000 {
			status = "ok";
			pinctrl-0 = <&mdio1_pins>;
			pinctrl-names = "default";
			phy-reset-gpio = <&tlmm 39 0>;
			ethernet-phy@0 {
				reg = <0>;
			};

			ethernet-phy@1 {
				reg = <1>;
			};

			ethernet-phy@2 {
				reg = <2>;
			};

			ethernet-phy@3 {
				reg = <3>;
			};
		};

		ess-instance {
			num_devices = <0x2>;
			ess-switch@0x39c00000 {
				compatible = "qcom,ess-switch-ipq50xx";
				device_id = <0>;
				switch_mac_mode = <0xf>; /* mac mode for uniphy instance*/
				cmnblk_clk = "internal_96MHz"; /* cmnblk clk*/
				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						phy_address = <7>;
					};
					port@1 {
						port_id = <2>;
						forced-speed = <1000>;
						forced-duplex = <1>;
					};
				};
				led_source@0 {
					source = <0>;
					mode = "normal";
					speed = "all";
					blink_en = "enable";
					active = "high";
				};
			};
			ess-switch1@1 {
				compatible = "qcom,ess-switch-qca83xx";
				device_id = <1>;
				switch_access_mode = "mdio";
				mdio-bus = <&mdio1>;
				reset_gpio = <&tlmm 0x27 0>;
				switch_cpu_bmp = <0x40>;  /* cpu port bitmap */
				switch_lan_bmp = <0x1e>; /* lan port bitmap */
				switch_wan_bmp = <0x0>;  /* wan port bitmap */
				qca,ar8327-initvals = <
						0x00004 0x7600000   /* PAD0_MODE */
						0x00008 0x1000000   /* PAD5_MODE */
						0x0000c 0x80        /* PAD6_MODE */
						0x00010 0x2613a0    /* PORT6 FORCE MODE*/
						0x000e4 0xaa545     /* MAC_POWER_SEL */
						0x000e0 0xc74164de  /* SGMII_CTRL */
						0x0007c 0x4e        /* PORT0_STATUS */
						0x00094 0x4e        /* PORT6_STATUS */
				>;
				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						phy_address = <0>;
					};
					port@1 {
						port_id = <2>;
						phy_address = <1>;
					};
					port@2 {
						port_id = <3>;
						phy_address = <2>;
					};
					port@3 {
						port_id = <4>;
						phy_address = <3>;
					};
				};
			};
		};

		dp1 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			clocks = <&gcc GCC_SNOC_GMAC0_AXI_CLK>;
			clock-names = "nss-snoc-gmac-axi-clk";
			qcom,id = <1>;
			reg = <0x39C00000 0x10000>;
			interrupts = <GIC_SPI 101 IRQ_TYPE_LEVEL_HIGH>;
			qcom,mactype = <2>;
			qcom,link-poll = <1>;
			qcom,phy-mdio-addr = <7>;
			mdio-bus = <&mdio0>;
			local-mac-address = [000000000000];
			phy-mode = "sgmii";
		};

		dp2 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			clocks = <&gcc GCC_SNOC_GMAC1_AXI_CLK>;
			clock-names = "nss-snoc-gmac-axi-clk";
			qcom,id = <2>;
			reg = <0x39D00000 0x10000>;
			interrupts = <GIC_SPI 109 IRQ_TYPE_LEVEL_HIGH>;
			qcom,mactype = <2>;
			local-mac-address = [000000000000];
			phy-mode = "sgmii";
		};
	};
};
&tlmm {
	pinctrl-0 = <&serial_1_pins &phy_led_pins>;
	pinctrl-names = "default";

	serial_1_pins: serial1-pinmux {
		pins = "gpio31", "gpio32", "gpio33", "gpio34";
		function = "blsp1_uart1";
		drive-strength = <8>;
		bias-pull-down;
	};

	mdio1_pins: mdio_pinmux {
		mux_0 {
			pins = "gpio36";
			function = "mdc";
			drive-strength = <8>;
			bias-pull-up;
		};
		mux_1 {
			pins = "gpio37";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	phy_led_pins: phy_led_pins {
		gephy_led_pin {
			pins = "gpio46";
			function = "led0";
			drive-strength = <8>;
			bias-pull-down;
		};
	};
};

&blsp1_uart1 {
	status = "ok";
};

&pcie_x2 {
        status = "ok";
        perst-gpio = <&tlmm 15 1>;
};

&pcie_x2phy {
	status = "ok";
};

&pcie_x2_rp {
	status = "ok";
	mhi_1: qcom,mhi@1 {
		reg = <0 0 0 0 0 >;
		qrtr_instance_id = <0x20>;
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		memory-region = <&mhi_region1>;
#if !defined(__CNSS2__)
		qrtr_node_id = <0x20>;
		base-addr = <0x4CC00000>;
		m3-dump-addr = <0x4E000000>;
		etr-addr = <0x4E100000>;
		qcom,caldb-addr = <0x4E200000>;
		qcom,tgt-mem-mode = <0x1>;
		mhi,max-channels = <30>;
		mhi,timeout = <10000>;
#endif
       };
};
