// SPDX-License-Identifier: ISC
/*
 * Copyright (c) 2018-2020, The Linux Foundation. All rights reserved.
 */
/dts-v1/;

#include "ipq5018.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ5018/AP-MP03-C2";
	compatible = "qcom,ipq5018-mp03", "qcom,ipq5018";

	aliases {
		serial0 = &blsp1_uart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs-append = " swiotlb=1";
	};
};

&blsp1_uart1 {
	pinctrl-0 = <&serial_1_pins>;
	pinctrl-names = "default";
	status = "ok";
};
