// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;
/* Copyright (c) 2020 The Linux Foundation. All rights reserved.
 */
#include "ipq8074.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ8074/AP-HK06";
	compatible = "qcom,ipq8074-ap-hk06", "qcom,ipq8074";
	interrupt-parent = <&intc>;

	aliases {
		serial0 = &blsp1_uart5;
	};

	chosen {
		stdout-path = "serial0";
	};

	soc {
		pinctrl@1000000 {
			button_pins: button_pins {
				wps_button {
					pins = "gpio34";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-up;
				};
			};

			leds_pins: leds_pinmux {
				led0_5g0 {
					pins = "gpio18";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
				led1_5g1 {
					pins = "gpio19";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
				led2_2g {
					pins = "gpio20";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
				led0_wifi_son {
					pins = "gpio25";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
				led1_wifi_son {
					pins = "gpio28";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
				led2_wifi_son {
					pins = "gpio29";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
				led_usb0 {
					pins = "gpio58";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
			};
		};

		serial@78b3000 {
			status = "ok";
		};

		spi@78b5000 {
			status = "ok";
			pinctrl-0 = <&spi_0_pins>;
			pinctrl-names = "default";
			cs-select = <0>;

			m25p80@0 {
				  compatible = "jedec,spi-nor";
				  #address-cells = <1>;
				  #size-cells = <1>;
				  reg = <0>;
				  spi-max-frequency = <50000000>;
			};
		};

		dma@7984000 {
			 status = "ok";
		};

		nand@79b0000 {
			status = "ok";

			nand@0 {
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <1>;

				nand-ecc-strength = <4>;
				nand-ecc-step-size = <512>;
				nand-bus-width = <8>;
			};
		};

		qusb@79000 {
			status = "ok";
		};

		ssphy@78000 {
			status = "ok";
		};

		usb3@8A00000 {
			status = "ok";
		};

		qusb@59000 {
			status = "ok";
		};

		ssphy@58000 {
			status = "ok";
		};

		usb3@8C00000 {
			status = "ok";
		};

		phy@84000 {
			status = "ok";
		};

		phy@86000 {
			status = "ok";
		};

		pci@20000000 {
			perst-gpio = <&tlmm 58 1>;
			status = "ok";
		};

		phy@8e000 {
			status = "ok";
		};

		pci@10000000 {
			perst-gpio = <&tlmm 61 0x1>;
			status = "ok";
		};

		gpio_keys {
			compatible = "gpio-keys";
			pinctrl-0 = <&button_pins>;
			pinctrl-names = "default";
			status = "ok";

			button@1 {
				label = "wps";
				linux,code = <KEY_WPS_BUTTON>;
				gpios = <&tlmm 34 GPIO_ACTIVE_LOW>;
				linux,input-type = <1>;
				debounce-interval = <60>;
			};
		};

		leds {
			compatible = "gpio-leds";
			pinctrl-0 = <&leds_pins>;
			pinctrl-names = "default";

			led@18 {
				label = "led0_5g0";
				gpios = <&tlmm 18 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_5g0";
				default-state = "off";
			};

			led@19 {
				label = "led1_5g1";
				gpios = <&tlmm 19 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_5g1";
				default-state = "off";
			};

			led@20 {
				label = "led2_2g";
				gpios = <&tlmm 20 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_2g";
				default-state = "off";
			};

			led@25 {
				label = "led0_wifi_son";
				gpios = <&tlmm 25 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_wifi_son_0";
				default-state = "off";
			};

			led@28 {
				label = "led1_wifi_son";
				gpios = <&tlmm 28 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_wifi_son_1";
				default-state = "off";
			};

			led@29 {
				label = "led2_wifi_son";
				gpios = <&tlmm 29 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_wifi_son_2";
				default-state = "off";
			};

			led@58 {
				label = "led_usb0";
				gpios = <&tlmm 58 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_usb";
				default-state = "off";
			};
		};
	};
};
