// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;
/* Copyright (c) 2020 The Linux Foundation. All rights reserved.
 */
#include "ipq8074.dtsi"
#include "ipq8074-ac-cpu.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ8074/AP-AC04";
	compatible = "qcom,ipq8074-ap-ac04", "qcom,ipq8074";
	qcom,msm-id = <0x18C 0x0>;
	interrupt-parent = <&intc>;

	aliases {
		serial0 = &blsp1_uart5;
		/* Aliases as required by u-boot to patch MAC addresses */
		ethernet0 = "/soc/dp1";
		ethernet1 = "/soc/dp2";
		ethernet2 = "/soc/dp3";
		ethernet3 = "/soc/dp4";
		ethernet4 = "/soc/dp5";
	};

	chosen {
		stdout-path = "serial0";
	};

	soc {
		pinctrl@1000000 {
			button_pins: button_pins {
				wps_button {
					pins = "gpio34";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-up;
				};
			};

			usb_mux_sel_pins: usb_mux_pins {
				mux {
					pins = "gpio27";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
			};

			pcie0_pins: pcie_pins {
				pcie0_rst {
					pins = "gpio58";
					function = "pcie0_rst";
					drive-strength = <8>;
					bias-pull-down;
				};
				pcie0_wake {
					pins = "gpio59";
					function = "pcie0_wake";
					drive-strength = <8>;
					bias-pull-down;
				};
			};

			led_pins: led_pins {
				led_2g {
					pins = "gpio42";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};

				led_5g {
					pins = "gpio43";
					function = "gpio";
					drive-strength = <8>;
					bias-pull-down;
				};
			};
		};

		serial@78b3000 {
			status = "ok";
		};

		spi@78b5000 {
			status = "ok";
			pinctrl-0 = <&spi_0_pins>;
			pinctrl-names = "default";
			cs-select = <0>;

			m25p80@0 {
				  compatible = "n25q128a11";
				  #address-cells = <1>;
				  #size-cells = <1>;
				  reg = <0>;
				  spi-max-frequency = <50000000>;
			};
		};

		dma@7984000 {
			 status = "ok";
		};

		nand@79b0000 {
			status = "ok";

			nand@0 {
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <1>;

				nand-ecc-strength = <4>;
				nand-ecc-step-size = <512>;
				nand-bus-width = <8>;
			};
		};

		qusb@79000 {
			status = "ok";
		};

		ssphy@78000 {
			status = "ok";
		};

		usb3@8A00000 {
			status = "ok";
		};

		qusb@59000 {
			status = "ok";
		};

		ssphy@58000 {
			status = "ok";
		};

		usb3@8C00000 {
			status = "ok";
		};

		phy@84000 {
			status = "ok";
		};

		phy@86000 {
			status = "ok";
		};

		pci@20000000 {
			perst-gpio = <&tlmm 58 1>;
			status = "ok";
		};

		gpio_keys {
			compatible = "gpio-keys";
			pinctrl-0 = <&button_pins>;
			pinctrl-names = "default";
			status = "ok";

			button@1 {
				label = "wps";
				linux,code = <KEY_WPS_BUTTON>;
				gpios = <&tlmm 34 GPIO_ACTIVE_LOW>;
				linux,input-type = <1>;
				debounce-interval = <60>;
			};
		};

		leds {
			compatible = "gpio-leds";
			pinctrl-0 = <&led_pins>;
			pinctrl-names = "default";

			led_2g {
				label = "led_2g";
				gpio = <&tlmm 42 GPIO_ACTIVE_HIGH>;
				default-state = "off";
			};

			led_5g {
				label = "led_5g";
				gpio = <&tlmm 43 GPIO_ACTIVE_HIGH>;
				default-state = "off";
			};
		};

	};
};

&apc_cpr {
	/* Same CPR configuration as OAK */
	compatible = "qcom,cpr4-ipq817x-apss-regulator";

	thread@0 {
		apc_vreg: regulator {
			regulator-min-microvolt = <1>;
			regulator-max-microvolt = <2>;
			qcom,cpr-fuse-corners = <2>;
			qcom,cpr-corners = <3>;
			qcom,cpr-speed-bin-corners = <3>;
			qcom,cpr-corner-fmax-map = <1 3>;

			qcom,cpr-voltage-ceiling =
				<840000 904000 944000>;
			qcom,cpr-voltage-floor =
				<592000 648000 712000>;
			qcom,corner-frequencies =
				<1017600000 1382400000 1382400000>;

			qcom,cpr-open-loop-voltage-fuse-adjustment-0 =
				/* Speed bin 0; CPR rev 0..7 */
				< 0      0>,
				< 0      0>,
				< 0      0>,
				< 0      0>,
				< 0      0>,
				< 0      0>,
				< 0      0>,
				< 0      0>;

			qcom,cpr-open-loop-voltage-fuse-adjustment-1 =
				/* Speed bin 0; CPR rev 0..7 */
				<     0      0>,
				<     0      0>,
				<     0      0>,
				< 20000  26000>,
				<     0      0>,
				<     0      0>,
				<     0      0>,
				<     0      0>;

			qcom,cpr-open-loop-voltage-fuse-adjustment-v2-0 =
				/* Speed bin 0; CPR rev 0..7 */
				<     0      0>,
				<     0      0>,
				<     0      0>,
				<     0      0>,
				<     0      0>,
				<     0      0>,
				<     0      0>,
				<     0      0>;

			qcom,cpr-open-loop-voltage-fuse-adjustment-v2-1 =
				/* Speed bin 0; CPR rev 0..7 */
				<     0      0>,
				<     0   7000>,
				<     0      0>,
				<     0      0>,
				<     0      0>,
				<     0      0>,
				<     0      0>,
				<     0      0>;

			qcom,cpr-floor-to-ceiling-max-range =
				< 40000 40000 40000>,
				< 40000 40000 40000>,
				< 40000 40000 40000>,
				< 40000 40000 40000>,
				< 40000 40000 40000>,
				< 40000 40000 40000>,
				< 40000 40000 40000>,
				< 40000 40000 40000>;
		};
	};
};

&npu_cpr {
	status = "disabled";
};

&nss0 {
	npu-supply = <&dummy_reg>;
	mx-supply = <&dummy_reg>;
};
